body,html{height:100%;padding:0px;margin:0px}
body{font-size:3vw}

.c{
	font-size:30px;
	color:#32d4dc;
	text-align:center;
}

body,html{height:100%;padding:0px;margin:0px}
body{font-size:3vw;background:url(../imagenes/fondo.jpg) no-repeat center center fixed;
background-size: cover;}

.a{
	font-size:3vw;
	color:#12f7ad;
	margin-left: auto;
    margin-right: auto;
    display: table;
    text-align: center;
	width: 80%;
	
}
.a p{
	text-align:center
}

.c a:hover:not(.active) {
color: #091e1f;

}

p{
	font-size:20px;
}
.c a{
	color:#841b1b;
}

